---
layout: page
title: "About"
description: 
header-img: "img/about-bg-per.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->

    <p><i>The concept of a personal website is the ultimate expression of one's vanity. It is a noise... a confusion... an agony of egotistical fits. </i></p>
    <p><i>This page is no different. I'd like to think that anybody who pokes around will learn a bit about what makes me tick. Of course, I'm much more than a bunch of HTML and image files;</i></p> 
    <p><i>you can't really sum a person up on paper, metaphorical or otherwise. But at least you'll have some idea of who tudooou is.</i></p>

    <p></p>
    
    <h5><i>Talks</i></h5>

    <ul>
        <li><a href="https://github.com"><i>GitHub</i></a></li>
        <li><a href="https://tudooou.github.io/"><i>TuDooou</i></a></li> 
    </ul>
</div>

<!-- English Version -->
<!-- <div class="en post-container">

    <p>The concept of a personal website is the ultimate expression of one's vanity. It is a noise... a confusion... an agony of egotistical fits. This page is no different. I'd like to think that anybody who pokes around will learn a bit about what makes me tick. Of course, I'm much more than a bunch of HTML and image files; you can't really sum a person up on paper, metaphorical or otherwise. But at least you'll have some idea of who Peter Jay Salzm</p>

    

    <h5><i>Talks</i></h5>

    <ul>
    <li><a href="https://github.com"><i>GitHub</i></a></li>
    <li><a href="http://jekyll.com.cn/"><i>jekyll</i></a></li>
    <li><a href="https://pages.github.com/"><i>GitHub Pages</i></a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

